<div class="card card-pin  raco" {% unless post.image %} style="min-height:250px;background:#333;" {% endunless %}>
        
    {% unless post.image %}
    
       <a href="{{site.baseurl}}{{post.url}}"  class="d-block p-3">
        <h2 class="card-title title text-white mb-3">{{ post.title }}</h2>         
           <small class="d-block text-muted">{{ post.content | strip_html | truncatewords:25 }}</small>
        <div class="more mr-2 mb-2">                
            <i class="fa fa-arrow-circle-right text-white" aria-hidden="true"></i>
        </div> 
        </a>
        
    {% endunless %}
        
    {% if post.image %} 
    
	<div class="wrapcat">
		<a class="wrapcatlink" href="{{site.baseurl}}{{post.url}}"></a>
			<div class="showcat showcatpos">
				{% assign sorted_cats = post.categories | sort %}
				{% for category in sorted_cats %}
				<a class="showcatlink btn btn-sm btn-danger mb-1" href="{{site.baseurl}}/categories#{{ category | downcase }}">
					{{ category }}
				</a>
				{% endfor %}
			</div>
	
	</div>
	
	
           
    
        <a href="{{site.baseurl}}{{post.url}}">
         
        <img class="card-img" src="{% if post.image contains "://" %}{{ post.image }}{% else %}{{ post.image | absolute_url }}{% endif %}" alt="{{ post.title }}">             
        
            <div class="notraco">
                <h2 class="card-title title">{{ post.title }}
				{% if post.model_support == true %}
				&nbsp;<i class="fa fa-th-list text-muted" aria-hidden="true" title="made for Model-driven Apps"></i>
				{% endif %}
				{% if post.canvas_support == true %}
				&nbsp;<i class="fa fa-paint-brush text-muted" aria-hidden="true" title="made for Canvas Apps"></i>		
				{% endif %}
				{% if post.portals_support == true %}
				&nbsp;<i class="fa fa-globe text-muted" aria-hidden="true" title="made for Power Apps Portals"></i>		
				{% endif %}			
				{% if post.license_defined == true %}
				&nbsp;<i class="fa fa-balance-scale text-muted" aria-hidden="true" title="License is present"></i>		
				{% endif %}
				{% if post.managed_solution == true %}
				&nbsp;<i class="fa fa-file-archive-o text-muted" aria-hidden="true" title="Managed Solution available"></i>		
				{% endif %}
				</h2>
                <!-- <div class="more">   -->
					<!-- <i class="fa fa-arrow-circle-right text-muted" aria-hidden="true"></i> -->
                <!-- </div>   -->
            </div>
            
         </a>
    
    {% endif %}
        
   
</div>
