<!--
  If you want to remove credits, please, donate:
  https://www.wowthemes.net/freebies-license/
-->

<p>
    
<span class="credits"> 
    {{site.name}} is developed and maintained by <a target="_blank" class="text-dark" href="https://github.com/GuidoPreite"><b>Guido Preite</b></a>&nbsp;&nbsp;
	<a target="_blank" class="text-dark" href="https://www.linkedin.com/in/guidopreite/"><i class="fa fa-linkedin"></i></a>&nbsp;&nbsp;
	<a target="_blank" class="text-dark" href="https://www.twitter.com/crmanswers"><i class="fa fa-twitter"></i></a>
</span>
    
</p>

<p>
<a class="text-muted" href="{{site.url}}{{site.baseurl}}/tc">
        Terms and Conditions
    </a>
	&nbsp;
    <span class="text-muted small">Made with Pintereso Theme</span>

    <!-- <a class="text-muted" href="{{site.url}}{{site.baseurl}}/privacy-policy"> -->
        <!-- Privacy Policy. -->
    <!-- </a> -->
</p>
