<!--  Replace top menu links here -->
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/authors">Authors</a>
</li>
<li class="nav-item">
    <a class="nav-link" target="_blank" href="https://pcfgallery.userecho.com">Ideas</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/about">About</a>
</li>
<li class="nav-item">
    <a class="nav-link" target="_blank" href="https://www.twitter.com/pcfgallery"><i class="fa fa-twitter"></i></a>
</li>
<li class="nav-item">
    <a class="nav-link" target="_blank" href="https://www.linkedin.com/company/pcfgallery/"><i class="fa fa-linkedin"></i></a>
</li>
<li class="nav-item">
    <a class="nav-link" target="_blank" href="https://www.facebook.com/PCFGallery"><i class="fa fa-facebook"></i></a>
</li>
<li class="nav-item dropdown">
	<a class="nav-link" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		<svg style="margin-top:10px;" class="_3DJPT" version="1.1" viewbox="0 0 32 32" width="21" height="21" aria-hidden="false" data-reactid="71"><path d="M7 15.5c0 1.9-1.6 3.5-3.5 3.5s-3.5-1.6-3.5-3.5 1.6-3.5 3.5-3.5 3.5 1.6 3.5 3.5zm21.5-3.5c-1.9 0-3.5 1.6-3.5 3.5s1.6 3.5 3.5 3.5 3.5-1.6 3.5-3.5-1.6-3.5-3.5-3.5zm-12.5 0c-1.9 0-3.5 1.6-3.5 3.5s1.6 3.5 3.5 3.5 3.5-1.6 3.5-3.5-1.6-3.5-3.5-3.5z" data-reactid="22"></path></svg>
	</a>
	<div class="dropdown-menu dropdown-menu-right shadow-lg" aria-labelledby="dropdown02">
		<span class="dropdown-item">
			<a class="nav-link" href="{{site.baseurl}}/submit">Submit a new PCF Control</a>
		</span>
	</div>
</li>
<!--
<li class="nav-item dropdown">
	<a class="nav-link" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	  <svg style="margin-top:10px;" class="_3DJPT" version="1.1" viewbox="0 0 32 32" width="21" height="21" aria-hidden="false" data-reactid="71"><path d="M7 15.5c0 1.9-1.6 3.5-3.5 3.5s-3.5-1.6-3.5-3.5 1.6-3.5 3.5-3.5 3.5 1.6 3.5 3.5zm21.5-3.5c-1.9 0-3.5 1.6-3.5 3.5s1.6 3.5 3.5 3.5 3.5-1.6 3.5-3.5-1.6-3.5-3.5-3.5zm-12.5 0c-1.9 0-3.5 1.6-3.5 3.5s1.6 3.5 3.5 3.5 3.5-1.6 3.5-3.5-1.6-3.5-3.5-3.5z" data-reactid="22"></path></svg>
	</a>
	<div class="dropdown-menu dropdown-menu-right shadow-lg" aria-labelledby="dropdown02">
		<h4 class="dropdown-header display-4">Do you like PCF Gallery?<br/> Buy me a coffee <i class="fa fa-coffee"></i></h4>
		<div class="dropdown-divider">
		</div>
		<span class="dropdown-item">
			<a target="_blank" href="https://www.paypal.me/guidopreite" class="btn btn-info d-block text-white"><i class="fa fa-paypal"></i> Donate
			</a>
		</span>
	</div>
</li>
-->
